.box1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color:burlywood;
}
.box2{
    width: 30%;
    height: 60%;
    border: 6px solid black;
    background-color:sienna;
    margin: 190 auto;
    border-radius: 50px;
}
body{
    margin: 0;
    padding: 0;
}
.text1{
    font-size: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 70px;
    width: 80%;
    height: 20%;
    margin-top: 5%;
}
.t1{
    width: 80%;
    height: 8%;
    border-radius: 25px;
    margin-top: 5%;
    margin-left: 9%;
    background-color: burlywood;
    color: saddlebrown;
    font-size: 20px;
}
.t2{
    width: 80%;
    height: 8%;
    border-radius: 25px;
    margin-top: 8%;
    margin-left: 9%;
    background-color: burlywood;
    color: saddlebrown;
    font-size: 20px;
}
.t3{
    width: 80%;
    height: 8%;
    border-radius: 25px;
    margin-top: 8%;
    margin-left: 9%;
    background-color: burlywood;
    font-size: 20px;
    color: saddlebrown;
}
.t4{
    width: 18%;
    height: 8%;
    border-radius: 25px;
    margin-top: 8%;
    margin-left: 9%;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: saddlebrown;
    background-color: burlywood;
}
.t5{
    width: 23%;
    height: 9%;
    border-radius: 35px;
    margin-top: 10%;
    margin-left: 38%;
    background-color: burlywood;
    color: saddlebrown;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.start{
    display: flex;
    width: 100%;
    height: 100%;
    border: 0px solid black
}
.menu1{
    display: flex;
    width: 100%;
    height: 15%;
    border: 6px solid black;
    background: burlywood;
    position: fixed;

}
.logo{
    border: 2px solid burlywood;
    width: 100px;
    height: 100px;
    background-color: burlywood;
    margin-top: 15px;
}
.textmenu{
    width: 100%;
    height: 100%;
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span{
    font-size: 30px;
    font-size: 1.5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}